# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.backend-csharp.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
